<header
  class="mb-2 d-flex  justify-content-center align-items-center border-bottom py-2"
>
<section>
  <img [routerLink]="['']"  width="100px" src="assets/brand/shield.jpeg" alt="">
</section>

  <section class="mb-1 d-flex justify-content-between w-100">
    <ul class="d-flex flex-row flex-wrap">
      <li class="p-2 mx-2" [routerLink]="['closer-matches']" >Próximos partidos</li>
      <li class="p-2 mx-2" [routerLink]="['team']">Conozca los jugadores</li>
      <li class="p-2 mx-2 " [routerLink]="['data']">Estadísticas</li>
      <li class="p-2 mx-2" [routerLink]="['patreons']">Patrocinadores</li>
      <li class="p-2 mx-2" [routerLink]="['magazine']">Magazine</li>
    </ul>

    <!-- <ul class="list-group list-group-horizontal-lg mt-1 mr-1">
      <button type="button" class="btn btn-sm btn-danger">
        Iniciar sesión
      </button>
    </ul> -->
  </section>
</header>
