<header
  class="mb-2 d-flex flex-column justify-content-center align-items-center border-bottom"
>
  <section class="mb-4 d-flex justify-content-between w-100">
    <ul class="list-group list-group-horizontal-lg">
      <li class="list-group-item">Próximos partidos</li>
      <li class="list-group-item">Conozca los jugadores</li>
      <li class="list-group-item">Estadísticas</li>
    </ul>

    <ul class="list-group list-group-horizontal-lg mt-1 mr-1">
      <button type="button" class=" btn btn-sm btn-danger">
        Iniciar sesión
      </button>
     
    </ul>
  </section>
  <section class="mb-4 mt-3 d-flex ">
    <h1 class="border-top border-3 border-danger text-center">CUCOS F.C. MAGAZINE</h1>
  </section>
</header>
