<div class="d-flex row justify-content-between">
  <section class="col-xs-12 col-sm-12 col-md-4">
    <article>
      <header>
        <h2>¿Quiénes somos?</h2>
      </header>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto
        consectetur distinctio eius quidem fugiat nisi? Quam eligendi sint
        voluptatum quod labore quas, dolorum omnis reiciendis sequi
        voluptatibus, magni unde nobis.
      </p>
    </article>
  </section>
  <aside class="col-xs-12 col-sm-12 col-md-4 border-left shadow-lg">
    <img src="assets/brand/shield.jpeg" alt="" srcset="" />
    <ul class="list-group my-3">
      <li class="list-group-item text-center">
        <strong> CUCOS F.C. </strong>
      </li>
    </ul>
  </aside>
</div>

<app-audio>
  
</app-audio>

