<div class="d-flex row justify-content-between">
  <section class="col-xs-12 col-sm-12 col-md-8">
    <article class="d-flex flex-column mb-6 py-5">
      <header
        class="d-flex flex-column justify-content-center align-items-center text-white bg-danger"
      >
        <h2>PRÓXIMO PARTIDO</h2>
      </header>
      <section
        class="d-flex border-danger border py-3 flex-column justify-content-center align-items-center bg-white text-center"
      >
        <strong> Luis y su combo </strong>
        <span>vs</span>
        <strong>Cucos F.C.</strong>
        <strong
          class="text-uppercase my-2 text-white rounded-pill px-2 border border-danger bg-danger text-center"
        >
          13 de Febrero de 2022
        </strong>
        <strong
          class="text-uppercase my-2 text-white rounded-pill px-2 border border-danger bg-danger text-center"
        >
          Hora por confirmar
        </strong>

        <strong
          class="text-uppercase my-2 text-white rounded-pill px-2 border border-danger bg-danger text-center"
        >
          Canchas La Uribe
        </strong>
      </section>
    </article>
    <article>
      <header>
        <h2>Un poquito de nosotros</h2>
      </header>
      <p>
        Somos unos pelaos de Manizales en busca de un sueño, de una meta; queremos convertirnos en campeones locales,
        por eso entrenamos sin parar para alcanzar la destreza suficiente y vencer a todos nuestros rivales.
    
      </p>
    </article>
  </section>
  <aside class="col-xs-12 col-sm-12 col-md-4 border-left shadow-lg">
    <img src="assets/brand/shield.jpeg" alt="" srcset="" />
    <ul class="list-group my-3">
      <li class="list-group-item text-center">
        <strong> CUCOS F.C. </strong>
      </li>
    </ul>
  </aside>
</div>
