<div class="d-flex row justify-content-between">
  <ol class="col-xs-12 col-sm-12 col-md-8">
    <li class="card mb-3" *ngFor="let date of dates" style="max-width: 540px">
      <div [routerLink]="['../date/' + date.date]" class="row no-gutters">
        <div class="col-md-4">
          <img src="{{ date.preview }}" class="card-img" alt="..." />
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title">{{ date.title }}</h5>
            <p class="card-text">{{ date.abstract }}</p>
            <p class="card-text">
              <small class="text-muted"
                >Last updated {{ date.publicationDate }}</small
              >
            </p>
          </div>
        </div>
      </div>
    </li>
  </ol>

  <aside class="col-xs-12 col-sm-12 col-md-4 border-left shadow-lg">
    <img src="assets/brand/shield.jpeg" alt="" srcset="" />

    <ul class="list-group">
      <li class="list-group-item text-center">
        <strong> CUCOS F.C. </strong>
      </li>

      <li class="list-group-item">
        <strong>Presidente:</strong>
        Simón Osorio Castaño
      </li>

      <li class="list-group-item">
        <strong>Técnico:</strong>
        Simón Osorio Castaño
      </li>

      <li class="list-group-item">
        <strong>Jugadores:</strong>
        <ul class="mt-3">
          <li *ngFor="let player of players" class="my-2 border-bottom">
            <section class="d-flex justify-content-between">
              <strong>{{ player.name }}</strong>
              <span class="badge badge-danger">{{ player.number }}</span>
            </section>
            <section>
              <span class="text-danger">
                {{ player.alias }}
              </span>
            </section>
            <footer class="font-italic">{{ player.role }}</footer>
          </li>
        </ul>
      </li>
    </ul>
  </aside>
</div>
