<header
  class="mb-2 d-flex flex-column justify-content-center align-items-center border-bottom"
>
  <section class="mb-4 mt-3 d-flex">
    <h1 class="border-top border-3 border-danger text-center">
      CUCOS F.C. MAGAZINE
    </h1>
  </section>
</header>
<div class="row">
  <section class="col-xs-12 col-sm-12 col-md-8 col-lg-10">
    <router-outlet> </router-outlet>
  </section>

  <aside class="col-xs-12 col-sm-12 col-md-4 col-lg-2">
      <ul>
        <li class="my-3">
            Tenemos nuevo patrocinador
        </li>

        <li class="my-3">
           Preparados para el torneo de Marchagas
        </li>
      </ul>
  </aside>
</div>
